<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

<div class="fundo_titulo_principal">

    <div class="titulo_principal">
        𝓣𝓪𝓼𝓴𝓕𝓵𝓸𝔀 𝓒𝓸𝓻𝓹 | 𝓖𝓮𝓼𝓽ã𝓸 𝓘𝓷𝓽𝓮𝓻𝓷𝓪
    </div>

</div>

<h5 style="color: rgb(211 231 251 / 0)"> qis

<div class="navegador">
        <a href="{{url_for('index')}}">Início</a>

        <a href="{{url_for('criar_atividade')}}">Criar atividade</a>

        <a href="{{url_for('listar_atividade')}}">Listar atividade</a>

        <a href="{{url_for('pessoa')}}">Pessoa</a>

</div>

</h5>


<div class="conteudo">
    {% block conteudo  %}

    {% endblock conteudo %}
</div>


</body>
</html>