<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>



<header>

    <h1 style="margin:0 0 20px 0; font-size: 30px; font-family: initial " >TaskFlow Corp | Gestão Interna</h1>

    <nav>
        <a href="{{url_for('index')}}">Início</a>

        <a href="{{url_for('criar_atividade')}}">criar atividade</a>

        <a href="{{url_for('listar_atividade')}}">listar atividade</a>

        <a href="{{url_for('pessoa')}}">pessoa</a>

    </nav>
</header>
<h5 style="color: dodgerblue"> qis </h5>


<main>
    {% block conteudo  %}
    {% endblock conteudo %}
</main>


</body>
</html>